@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$background: linear-gradient(to bottom, #2b3644 0%,#656f6f 100%);
$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #533d4a;


html{
  height: 100%;
}

body{
  font-family: 'Fjalla One', sans-serif;
  background: $background;
}

.container{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 225px;
}

.button{
  float: left;
  position: relative;
  bottom: -65px;
  left: 50%;
  color: $red;
  font-size: 30px;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;

  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
  
  span{
    transform: skew(-10deg);
    display: inline-block;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px;
  }
}

.button:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

h1{
	  color: #fff;
    text-transform: uppercase;
    font-size: 76px;
    margin: 0;
    line-height: 79px;
    letter-spacing: 4px;
}

.title{
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
  
  span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}

.title{
  &:nth-child(1){
    color: $red;
  }
  &:nth-child(2){
    color: $green;
  }
  &:nth-child(3){
    color: $yellow;
  }
}

.anim {
  animation-name:textmove;
  animation-duration:1s;
  animation-iteration-count: infinite;
  /*animation-delay: 2s;*/
	animation-timing-function: ease-in-out;
  /*animation-fill-mode: both;*/
  animation-direction: alternate;
}
@keyframes textmove {
  from {transform: translate(0);}
  to {transform: translate(100px);}
} 


.active{
  z-index: 2;
}

.pre-active{
  z-index: 1;
}